{% set label_blacklist = ['CSRFTokenField', 'HiddenField', 'SubmitField'] %}
{% set method = 'POST' if not value.method else value.method %}

<form method="{{ method }}" action="{{ value.action }}">
{% for item in value %}
    {% if item.label and item.type not in label_blacklist %}
        {{ item.label }}
    {% endif %}
    {{ item }}
{% endfor %}
</form>
