<!doctype html>
<html>
    <head>
        <title>{{ page.head_title }}</title>
    </head>
    <body>
        
        {%- with messages = get_flashed_messages() -%}
            {%- if messages -%}
                <div id="message-wrapper">
                    <ul id="messages">
                        {% for message in messages -%}
                            <li>{{ message }}</li>
                        {%- endfor %}
                    </ul>
                </div>
            {%- endif -%}
        {%- endwith -%}
    
        <div id="content-wrapper">

            <h1 id="page-title">{{ page.title }}</h1>

            {%- with value = page.content.value -%}
                {%- include page.content.template -%}
            {%- endwith -%}
        </div>

    </body>
</html>
